<template>
  <li
    class="select__item"
    :class="{
      active: view._.selected,
      'select__item--loading': view._.loading,
    }"
  >
    <a class="select__item-link" @click="selectView(view)">
      <i
        class="select__item-icon fas fa-fw color-primary"
        :class="'fa-' + view._.type.iconClass"
      ></i>
      <Editable
        ref="rename"
        :value="view.name"
        @change="renameView(view, $event)"
      ></Editable>
    </a>
    <a
      ref="contextLink"
      class="select__item-options"
      @click="$refs.context.toggle($refs.contextLink, 'bottom', 'right', 0)"
    >
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <Context ref="context">
      <ul class="context__menu">
        <li>
          <a @click="enableRename()">
            <i class="context__menu-icon fas fa-fw fa-pen"></i>
            Rename view
          </a>
        </li>
        <li>
          <a @click="deleteView(view)">
            <i class="context__menu-icon fas fa-fw fa-trash"></i>
            Delete view
          </a>
        </li>
      </ul>
    </Context>
  </li>
</template>

<script>
import context from '@baserow/modules/core/mixins/context'
import { notifyIf } from '@baserow/modules/core/utils/error'

export default {
  name: 'ViewsContextItem',
  mixins: [context],
  props: {
    view: {
      type: Object,
      required: true,
    },
  },
  methods: {
    setLoading(view, value) {
      this.$store.dispatch('view/setItemLoading', { view, value })
    },
    enableRename() {
      this.$refs.context.hide()
      this.$refs.rename.edit()
    },
    async renameView(view, event) {
      this.setLoading(view, true)

      try {
        await this.$store.dispatch('view/update', {
          view,
          values: {
            name: event.value,
          },
        })
      } catch (error) {
        notifyIf(error, 'view')
      }

      this.setLoading(view, false)
    },
    async deleteView(view) {
      this.$refs.context.hide()
      this.setLoading(view, true)

      try {
        await this.$store.dispatch('view/delete', view)
      } catch (error) {
        notifyIf(error, 'view')
      }

      this.setLoading(view, false)
    },
    selectView(view) {
      this.$nuxt.$router.push({
        name: 'database-table',
        params: {
          viewId: view.id,
        },
      })

      this.$emit('selected')
    },
  },
}
</script>
